@page "/RegistroEntradas"
@page "/RegistroEntradas/{EntradaId:int}"
@inject HttpClient httpClient
@inject NotificationService notificationServices

<EditForm Model="Entradas" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h1>Entradas de productos Empacados</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label>ID</label>
                    <div class="input-group">
                        <InputNumber @bind-Value="Entradas.EntradaId" class="form-control" />
                        <button type="button" class="btn btn-outline-primary oi oi-magnifying-glass" @onclick="Buscar"></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Fecha</label>
                    <InputDate @bind-Value="Entradas.Fecha" class="form-control" />
                    <ValidationMessage For="@(() => Entradas.Fecha)" />
                </div>
            </div>
            <label>Concepto</label>
            <InputText @bind-Value="Entradas.Concepto" class="form-control" />
            <ValidationMessage For="@(() => Entradas.Concepto)" />
            <hr />
            <div class="card">
                <div class="card-header">
                    <h3>Utilizados</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Producto:</label>
                        <InputSelect @bind-Value="detalle.ProductoId" class="form-select">
                            <option value="@Entradas.ProductoId" hidden="hidden">Seleccione un producto</option>
                            @foreach (var item in L_Productos)
                            {
                                <option value="@item.ProductoId">@item.Descripcion</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => detalle.ProductoId)" />
                    </div>
                    <div class="col-md-5">
                        <label>Cantidad</label>
                        <div class="input-group">
                            <InputNumber @bind-Value="detalle.CantidadUtilizada" class="form-control"></InputNumber>
                            <button type="button" class="btn btn-dark" @onclick="AgregarDetalle">Agregar <i class="oi oi-plus"></i></button>
                            <ValidationMessage For="@(() => detalle.CantidadUtilizada)" />
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto ID</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in this.Entradas.EntradasDetalle)
                        {
                            <tr>
                                <td>@item.ProductoId</td>
                                <td>@ObtenerDescripcion(item.ProductoId)</td>
                                <td>@item.CantidadUtilizada</td>
                                <td>
                                    <button type="button" class="btn btn-danger" @onclick=@(() => EliminarDetalle(item))>
                                        <i class="oi oi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <label>Peso Total:</label>
                        <input disabled @bind-value="Total" class="form-control" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="card">
                <div class="card-header">
                    <h1>Producidos</h1>
                </div>
                <div class="row">
                    <div class="col-3">
                        <select @bind="Entradas.ProductoId" class="form-control">
                            @if(L_Productos != null)
                            {
                                if(Entradas.ProductoId <= 0)
                                {
                                    Entradas.ProductoId = 1;
                                }
                                @foreach (var item in L_Productos)
                                {
                                    <option value="@item.ProductoId">@item.Descripcion</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-2">
                        <input @bind-value="Entradas.CantidadProducida" class="form-control" placeholder="Cantidad Producida" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary" @onclick="Limpiar">
                    Nuevo <i class="oi oi-file"></i>
                </button>
                <button type="submit" class="btn btn-outline-success">
                    Guardar <i class="oi oi-document"></i>
                </button>
                <button type="button" class="btn btn-outline-danger" @onclick="Eliminar">
                    Eliminar <i class="oi oi-trash" />
                </button>
                </div>
        </div>
    </div>
</EditForm>


@code
{
    [Parameter]
    public int EntradaId { get; set; }
    public int productoId { get; set; }
    public Entradas Entradas { get; set; } = new Entradas();
    public EntradasDetalle detalle { get; set; } = new EntradasDetalle();
    public List<Productos> L_Productos { get; set; } = new List<Productos>();
    public int Total { get; set; } = 0;
    public int Cantidad { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var productos = await httpClient.GetFromJsonAsync<List<Productos>>("api/Productos");

        if (productos is not null)
        {
            L_Productos = productos;
        }

        if(EntradaId > 0)
        {
            this.Entradas.EntradaId = EntradaId;
            await this.Buscar();
        }
    }
    public void Nuevo()
    {
        this.Entradas = new Entradas();
        Total = 0;
    }
    public void Limpiar()
    {
        this.Entradas = new Entradas();
        Total = 0;
        notificationServices.ShowNotification(titulo: "Listo", mensaje: "Se ha limpiado correctamente", NotificationSeverity.Info);
    }
    public async Task Buscar()
    {
        try
        {
            int Suma = 0;
            var buscar = await httpClient.GetFromJsonAsync<Entradas>($"api/Entradas/{Entradas.EntradaId}");
            if (buscar != null)
            {
                this.Entradas = buscar;
            }
            else
            {
                notificationServices.ShowNotification(
                    titulo: "Error",
                    mensaje: "Registro no encontrado",
                    NotificationSeverity.Error);
            }
            foreach (var item in Entradas.EntradasDetalle)
            {
                Suma += (int)item.CantidadUtilizada;
                Total = Suma;
            }
        }
        catch (Exception ex)
        {
            notificationServices.ShowNotification(
                titulo: "Error",
                mensaje: ex.Message,
                NotificationSeverity.Error);
        }
    }

    private async Task<Productos> BuscarEntradas(int ProductoId)
    {
        var producto = await httpClient.GetFromJsonAsync<Productos>($"api/Productos/{ProductoId}");

        if (producto == null)
        {
            return new Productos();
        }

        return producto;
    }

    public bool Validar()
    {
        bool validar = true;
        if (string.IsNullOrEmpty(Entradas.Concepto))
        {
            notificationServices.ShowNotification(
                titulo: "Error",
                mensaje: "El concepto es un campo necesario.",
            NotificationSeverity.Error);
            validar = false;
        }
        if (Entradas.ProductoId <= 0)
        {
            notificationServices.ShowNotification(
                titulo: "Error",
                mensaje: "Es necesario seleccionar un producido",
            NotificationSeverity.Error);
            validar = false;
        }
        if (Entradas.CantidadProducida <= 0)
        {
            notificationServices.ShowNotification(
                titulo: "Error",
                mensaje: "La cantidad producida no puede ser menor o igual a 0",
            NotificationSeverity.Error);
            validar = false;
        }
        if(Entradas.EntradasDetalle.Count < 1)
        {
            notificationServices.ShowNotification(
                titulo: "Error",
                mensaje: "Debe agregar al menos un detalle.",
            NotificationSeverity.Error);
            validar = false;
        }

        return validar;
    }

    public bool ValidarDetalle()
    {
        bool validar = true;
        if (detalle.ProductoId < 0)
        {
            notificationServices.ShowNotification(
                titulo: "Error",
                mensaje: "Para guardar el detalle es necesario seleccionar un producto",
            NotificationSeverity.Error);
            validar = false;
        }
        if (detalle.CantidadUtilizada <= 0)
        {
            notificationServices.ShowNotification(
                titulo: "Error",
                mensaje: "La cantidad debe ser mayor a 0",
            NotificationSeverity.Error);
            validar = false;
        }

        return validar;
    }

    public async Task Guardar()
    {
        if(!Validar()) { return; }
        
        try
        {
            using var response = await httpClient.PostAsJsonAsync("api/Entradas", Entradas);
            response.EnsureSuccessStatusCode();

            var entradaDevuelta = await response.Content.ReadFromJsonAsync<Entradas>();
            if (entradaDevuelta != null)
            {
                notificationServices.ShowNotification(
                    titulo: "Éxito",
                    mensaje: "Guardado correctamente",
                    NotificationSeverity.Success);
                this.Entradas = entradaDevuelta;
                Nuevo();
            }
        }
        catch (Exception ex)
        {
            notificationServices.ShowNotification(
                titulo: "No se pudo guardar, intentelo de nuevo",
                mensaje: ex.Message,
                NotificationSeverity.Error);
        }
    }

    
    public async Task Eliminar()
    {
        using var response = await httpClient.DeleteAsync($"api/Entradas/{Entradas.EntradaId}");
            if (!response.IsSuccessStatusCode)
            {

                notificationServices.ShowNotification(
                    titulo: "Error ",
                    mensaje: "No se pudo eliminar",
                    NotificationSeverity.Error);
                return;
            }
            else
            {
                notificationServices.ShowNotification(
                    titulo: "Éxito",
                    mensaje: "Se ha eliminado con exito",
                    NotificationSeverity.Error);
                Nuevo();
            }
    }
   
   public void EliminarDetalle(EntradasDetalle entradasDetalle)
    {
        this.Entradas.EntradasDetalle.Remove(entradasDetalle);

        Total = this.Entradas.EntradasDetalle.Sum(t => (int)t.CantidadUtilizada);
        Entradas.CantidadProducida = Total * 2;
    } 

    public async Task AgregarDetalle()
    {
        if (ValidarDetalle())
        {
            if (detalle.CantidadUtilizada <= 0)
            {
                notificationServices.ShowNotification(
                titulo: "Error", 
                mensaje: "Debe utilizar una cantidad mayor a cero", 
                NotificationSeverity.Warning);
                return;
            }

            var producto = await BuscarEntradas(detalle.ProductoId);

            if (Entradas != null)
            {
                int Suma = 0;

                if (detalle.CantidadUtilizada > producto.Existencia)
                {
                    notificationServices.ShowNotification(
                    titulo: "Error", 
                    mensaje: "Ha utilizado una cantidad mayor que la existencia del producto", 
                    NotificationSeverity.Warning);
                    return;
                }

                detalle.EntradaId = Entradas.EntradaId;
                Entradas.EntradasDetalle.Add(detalle);
                detalle = new EntradasDetalle();

                foreach (var item in Entradas.EntradasDetalle)
                {
                    Suma += (int)item.CantidadUtilizada;
                    Total = Suma;
                }
                Entradas.CantidadProducida = Total * 2;
            }
        }
    }

    public string ObtenerDescripcion(int Id)
    {
        return L_Productos.Where(p => p.ProductoId == Id).FirstOrDefault().Descripcion;
    }
}